body {
  font-family: "Simpsonfont", sans-serif;
  text-align: center;
  /* background-color: #a8e912; */
  background-color: white;
  color: black;
  font-weight: 600;
  margin: 5%;
}

h1 {
  font-size: 80px;
  margin: 5% 25% 2%;
}

h3 {
  display: none;
  font-size: 50px;
  text-transform: uppercase;
}

#game_start {
  font-size: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
}

#start {
  cursor: pointer;
}

#game_board {
  display: none;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  width: 100%;
  min-height: 100px;
}

#infoPanel {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
}

#level-title,
#Moves-left {
  display: none;
}

#game_board img {
  height: 100%;
  width: 100%;
  max-width: none;
  cursor: pointer;
}

.cardImage {
  width: 100%;
}

.paired {
  box-shadow: 0 0 20px white;
  background-color: #413a3a;
  opacity: 0.5;
}

footer {
  margin-top: 5%;
}

@media (max-width: 500px) {
  h1 {
    font-size: 30px;
    margin: 30px 25%;
  }

  h3 {
    font-size: 15px;
  }

  #game_start {
    font-size: 30px;
  }

  .start_img {
    height: 150px;
    width: 150px;
  }

  #infoPanel {
    font-size: 10px;
  }
  
  #game_board {
    grid-template-columns: repeat(5, 1fr);
  }
}
